/* src/components/Section.css */
.section {
    padding: 0px;
    margin-bottom: 150px;
    color: #a8b2d1;
    border-bottom: 1px solid #233554;
}

.section h2 {
    color: #ccd6f6;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 10px;
}
