body {
  font-family: 'Inter', sans-serif;
  background-color: #121212; /* Dark black for main background */
  color: #e4ded7; /* Subtle beige for main text */
  font-size: 16px;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Container for the layout */
.app-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.left-column {
  position: relative;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #e4ded7;
}

/* Sidebar (Left Column) */
.sidebar {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #e4ded7;
}

.sidebar__inner {
  position: relative;
  padding-top: 10vh;
  height: 100vh;
  width: 600px;
  padding-bottom: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #e4ded7;
}

.sidebar h1 {
  font-size: 3.2em;
  margin: 0;
  color: #fff5e1; /* Softer beige for title */
}

.sidebar p {
  font-size: 1.2em;
  color: #b8b0a8; /* Light beige-grey for subtitle */
  margin: 10px 0 30px;
  max-width: 300px;
}



/* Content (Right Column) */
.content {
  position: relative;
  top: 10vh;
  width: 50vw;
}

section {
  border-bottom: 1px solid #3e3e3e; /* Darker grey divider line */
  scroll-margin-top: 80px; /* Adjust this value to control the offset */
}

h2 {
  color: #fff5e1; /* Soft beige headers */
  font-size: 2em;
  margin-bottom: 10px;
}

h3 {
  color: #fff5e1; /* Soft beige headers */
  margin-bottom: 10px;
}

/* Optional: Smooth scrolling */
html {
  scroll-behavior: smooth;
}

#about p {
  margin: 0;
}

#about {
  padding: 0px 0px;
  max-width: 800px;
  color: #dcd2c5; /* Light beige for main about text */
}

#about h2 {
  color: #fff5e1;
  font-size: 2.5em;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #b8b0a8;
}

.tags span {
  background-color: #484848; /* Dark grey for tag background */
  color: #e4ded7; /* Light beige for tag text */
  font-size: 0.9em;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.tags span:hover {
  background-color: #e4ded7;
  color: #484848;
}

#contact  {
  color: #fff5e1;
  margin-bottom: 20px;
  height: 100vh;
}
